[run]
omit = 
    */tests/*.*
    tests.py
    */migrations/*.*
    */admin.py
    */apps.py
    */wgsi.py
    manage.py

[report]
omit =
    */tests/*.*
    tests.py
    */migrations/*.*
    */admin.py
    */apps.py
    */wgsi.py
    manage.py


